<div class="w-screen fixed h-screen px-8 flex flex-col items-center justify-center gap-4 text-rose-700 text-center z-[100] lg:hidden bg-rose-50">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
    </svg>
    
  </div>
  <div class="font-semibold uppercase">Mobile screens not supported. <br> Please use the app on a desktop-size screen</div>
</div>

<div *ngIf="hasProvider$ | async" class="w-screen flex flex-col justify-between 
 min-h-screen bg-gradient-to-b from-white to-pink-50">
  <div class="absolute">
    <app-navbar></app-navbar>
  </div>
  <div *ngIf="address$ | async; else authWallet" class="pt-24">
    <ng-container *ngIf="(balance$ | async)?.eq(0) === false">
      <router-outlet></router-outlet>
    </ng-container>
    <div class="mt-24 p-8 rounded-md w-full flex flex-row justify-center
   text-slate-800" *ngIf="(balance$ | async)?.eq(0)">
      <div class="max-w-xl p-8 text-slate-600 bg-white border rounded-md">
        You don't have any gas to pay for transactions. This is a test application - please get testnet gas.
        <br><br>
        Currently, the app is working on: Ethereum Sepolia, Avalance Fuji & Optimism Goerli Testnets

      </div>
    </div>
  </div>

</div>

<ng-template #authWallet>
  <div class="w-full h-screen flex flex-row justify-center items-center">
    <button (click)="authWallets()" class="app-button max-w-md flex flex-row justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
      </svg>
      Connect wallet
    </button>
  </div>
</ng-template>


