<div class="w-full flex flex-row justify-center pt-24">
    <div class="max-w-xl w-full bg-white rounded-md border p-10">
        <div class="w-full text-transparent bg-clip-text bg-gradient-to-r text-lg font-bold flex flex-col justify-center items-center
         from-rose-600 to-fuchsia-700 uppercase">
         <div class="uppercase font-bold dark:text-indigo-200
         items-center text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-700 to-rose-600
            text-center text-lg flex flex-col gap-y-3">

            <div class="text-2xl">🤝</div>
              
            <div>Lend</div>
        </div>
            
        </div>
        <div class="w-full text-center mt-4 text-slate-500">
            Lending is still in development and will be available soon.
        </div>
    </div>
</div>