/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r bg-clip-text from-rose-600 to-fuchsia-700
}

.app-button {
    @apply w-full py-3 text-center hover:bg-fuchsia-900 cursor-pointer bg-gradient-to-r from-rose-700 to-fuchsia-700
    flex flex-row justify-center items-center gap-x-2 hover:from-rose-800 hover:to-fuchsia-900 transition-all
   rounded-md mt-4 text-white uppercase font-semibold text-xs dark:from-indigo-600 dark:to-violet-600
   disabled:from-slate-200 disabled:to-slate-200 dark:disabled:bg-slate-700
}

@tailwind base;
@tailwind components;
@tailwind utilities;

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 