<div class="w-screen relative h-screen bg-gradient-to-b from-white to-rose-50 flex flex-col justify-center overflow-hidden">
    <div
        class=" z-50 fixed top-0 left-0 bg-white flex flex-row justify-center w-full">
        <div class="max-w-7xl w-full flex gap-x-8 flex-row justify-between">
            <div class="col-span-2 flex flex-col justify-center pr-2">
                <img (click)="clearIframe()" class="h-5 cursor-pointer object-contain" src="../../assets/klstr.png" alt="" srcset="">
            </div>

            <div class="ml-4 bg-white from-fuchsia-50 to-white !text-fuchsia-700 flex flex-row w-full
                 text-xs border-l border-fuchsia-100 items-center">
                <input [formControl]="urlBarForm" [value]="iframeSrc$ | async" (keyup.enter)="onEnter()"
                    placeholder="Enter your dApp URL" class="w-full flex flex-row py-3 justify-center bg-transparent col-span-4 outline-none  text-fuchsia-700
                     items-center px-8 h-full  rounded-md" />

                <div class="h-full">
                    <app-accounts-preview-topbar-module></app-accounts-preview-topbar-module>
                </div>

                <div class="h-full">
                    <app-network-selector-topbar-module></app-network-selector-topbar-module>

                </div>


            </div>

            <!-- <div class=" border-rose-200 relative
             h-full px-4 text-center flex cursor-pointer 
             flex-row justify-center items-center text-rose-500">
                <svg (click)="toggleTxQueueVisible()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor" class="w-6 h-6 hover:text-rose-800">
                    <path
                        d="M5.625 3.75a2.625 2.625 0 100 5.25h12.75a2.625 2.625 0 000-5.25H5.625zM3.75 11.25a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75zM3 15.75a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75zM3.75 18.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75z" />
                </svg>
                <div [@fadeInOut] *ngIf="txQueueVisible$ | async" class="bg-white absolute top-10 right-0 text-slate-600
                mt-2 flex flex-col items-start p-4 text-xs w-96 border rounded-md">
                    <div class="uppercase font-medium flex flex-row gap-x-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M5.625 3.75a2.625 2.625 0 100 5.25h12.75a2.625 2.625 0 000-5.25H5.625zM3.75 11.25a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75zM3 15.75a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75zM3.75 18.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5H3.75z" />
                        </svg>
                        My transactions queue
                    </div>
                    <div class="grid grid-cols-12 mt-3 text-start w-full">
                        <div class="col-span-3">
                            Tx Hash
                        </div>
                        <div class="col-span-4">
                            Source chain
                        </div>
                        <div class="col-span-3">
                            Dest. chain
                        </div>
                        <div class="col-span-1">
                            Status
                        </div>
                    </div>
                    <hr class="my-2 w-full border-slate-100">
                    <div class="grid grid-cols-12 mt-3 text-start w-full">
                        <div class="col-span-3">
                            0x327...223
                        </div>
                        <div class="col-span-4">
                            <img class="h-4" src="../../assets/matic.png" alt="" srcset="">
                        </div>
                        <div class="col-span-3">
                            Dest. chain
                        </div>
                        <div class="col-span-1">
                            Status
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-span-1 w-24 font-medium flex flex-col justify-center">
                <div *ngIf="connectedNetwork$ | async as network" (click)="logOut()" class="w-full flex flex-row justify-center gap-x-2 bg-slate-100 items-center
                    hover:bg-slate-700 cursor-pointer hover:text-white
                    text-slate-700 h-full text-xs transition-all ">


                    <div class="flex flex-row gap-x-2 pl-2 items-center">
                        <img class="h-4 w-4" src="../../assets/{{network.logoUri}}" alt="" srcset="">
                    </div>

                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>

                    </div>

                </div>
            </div>



        </div>
    </div>

    <iframe *ngIf="iframeSrc$ | async as src; else apps" [src]="src | safe"
        class="iframe-w bg-blue-50 fixed iframe-h border-rose-200 mx-2 mb-2 shadow-sm rounded-md border top-10"></iframe>

</div>

<ng-template #apps>
    <div class="w-full flex flex-row justify-center">
        <div class="max-w-5xl w-full grid grid-cols-5 text-rose-700 gap-4 uppercase text-sm font-semibold">

            <div (click)="setIframeSrc('https://app.uniswap.org')" class="bg-[rgba(255,255,255,0.5)] shadow-sm p-4 w-full h-full flex cursor-pointer
             flex-row gap-x-2 items-center justify-center hover:bg-rose-600 rounded-md hover:text-white">
                Uniswap
            </div>
            <div (click)="setIframeSrc('https://aave.org')" class="bg-[rgba(255,255,255,0.5)] shadow-sm p-4 w-full h-full flex cursor-pointer
             flex-row gap-x-2 items-center justify-center hover:bg-rose-600 rounded-md hover:text-white">
                AAVE
            </div>
            <div (click)="setIframeSrc('https://curve.fi')" class="bg-[rgba(255,255,255,0.5)] shadow-sm p-4 w-full h-full flex cursor-pointer
             flex-row gap-x-2 items-center justify-center hover:bg-rose-600 rounded-md hover:text-white">
                Curve
            </div>
            <div class="bg-[rgba(255,255,255,0.5)] shadow-sm p-4 w-full h-full flex cursor-pointer
             flex-row gap-x-2 items-center justify-center hover:bg-rose-600 rounded-md hover:text-white">
                Synthetix
            </div>
            <div (click)="setIframeSrc('https://sushi.com')" class="bg-[rgba(255,255,255,0.5)] shadow-sm p-4 w-full h-full flex cursor-pointer
             flex-row gap-x-2 items-center justify-center hover:bg-rose-600 rounded-md hover:text-white">
                SushiSwap
            </div>
        </div>
    </div>

</ng-template>

<div @slideInLeft *ngIf="txRequestedInfo$ | async as info" class="fixed top-10 flex flex-row justify-end items-start
 left-0  backdrop-blur-[2px] w-screen h-screen ">

    <div *ngIf="isProcessingTx$ | async as processingTx" [class.!justify-center]="processingTx.value" 
    class="bg-white z-[300] px-6 flex flex-col rounded-bl-md
     items-center justify-between h-full border-rose-200 border">

        <div class="mt-6"></div>
        <div *ngIf="!processingTx.value"
            class="max-w-7xl mt-12 w-full flex text-sm flex-col h-full justify-start gap-y-4">

            <div
                class="text-lg font-bold pr-24 uppercase text-transparent flex flex-row gap-x-2 items-center
                 bg-clip-text bg-gradient-to-r from-rose-600 to-fuchsia-700">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" 
                 class="w-6 h-6 text-rose-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                  </svg>
                  
                  
                New transaction request
            </div>

            <div *ngIf="iframeSrc$ | async as src">
                <div class="flex flex-col h-full p-4 rounded-md text-slate-500 bg-slate-50">
                    <div class="text-sm font-medium  flex flex-row items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                        </svg>


                        App
                    </div>
                    <div *ngIf="currentSession$ | async as session" class="text-base text-slate-500 flex 
                    flex-row items-center gap-x-2">
                    <img class="h-4" [src]="session.peer.metadata.icons[0]" alt="" srcset="">
                        {{session.peer.metadata.name}}
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center">
                <div *ngIf="connectedNetwork$ | async as connected" class="flex flex-col p-4 bg-slate-50">
                    <div class="text-sm  font-medium  flex flex-row text-slate-500 items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                        </svg>


                        Origin network
                    </div>
                    <div *ngIf="selectedNetwork$ | async as selected"
                        class="flex text-slate-600 flex-row text-base items-center gap-x-2">
                        <img class="h-4" src="../../assets/{{connected.logoUri}}" alt="" srcset="">
                        <div>{{connected.name}}</div>
                    </div>
                    <div
                        class="text-sm  mt-6 font-medium  flex flex-row text-slate-500 items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>



                        Destination network
                    </div>
                    <div *ngIf="selectedNetwork$ | async as selected"
                        class="flex text-slate-600 flex-row text-base items-center gap-x-2">
                        <img class="h-4" src="../../assets/{{selected.logoUri}}" alt="" srcset="">
                        <div>{{selected.name}}</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-y-4 p-4 bg-slate-50">
                <div class="flex flex-col">
                    <div class="text-sm  font-medium  flex flex-row text-slate-500 items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>


                        Estimated duration
                    </div>
                    <div class="text-base  text-slate-600">22m 30s</div>
                </div>
                <div class="flex flex-col">
                    <div class="text-sm  font-medium  flex flex-row text-slate-500 items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
                            <path fill-rule="evenodd"
                                d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z"
                                clip-rule="evenodd" />
                            <path
                                d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z" />
                        </svg>

                        Total cost
                    </div>
                    <div class="text-base flex flex-col text-slate-600">
                        <div class="text-lg font-semibold text-slate-500">
                            $3.37
                        </div>
                        <div class="text-xs">
                            0.0057 ETH
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div *ngIf="!processingTx.value" class="flex mb-12 flex-col gap-x-4 items-center text-xs font-semibold w-full">
            <div class="flex flex-row w-full gap-x-4 items-center">
                <div (click)="declineTransaction(info)"
                    class="h-10 gap-x-2 rounded-md w-full hover:bg-rose-700 cursor-pointer bg-rose-500 flex flex-row items-center justify-center text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <div>Decline</div>
                </div>
                <div (click)="acceptTransaction(info)"
                    class="h-10 rounded-md gap-x-2 w-full hover:bg-green-700 cursor-pointer bg-green-500 flex flex-row items-center justify-center text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <div>Accept</div>
                </div>
            </div>

            <img class="h-4 mt-8 mb-12" src="../../assets/klstr.png" alt="" srcset="">

        </div>

        <div class="flex flex-col justify-center items-center" *ngIf="processingTx.value">
            <div class="text-slate-500 px-16">Please sign <br> transaction</div>
            <img class="h-4 mt-8" src="../../assets/klstr.png" alt="" srcset="">
        </div>

    </div>

</div>